<?xml version="1.0"?>
<!-- 
/**
 * MageWorx
 * Multi Fees Extension
 *
 * @category   MageWorx
 * @package    MageWorx_MultiFees
 * @copyright  Copyright (c) 2015 MageWorx (http://www.mageworx.com/)
 */
-->
<config>
    <modules>
        <MageWorx_MultiFees>
            <version>2.7.2</version>
        </MageWorx_MultiFees>
    </modules>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <MageWorx_MultiFees after="Mage_Adminhtml">MageWorx_MultiFees_Adminhtml</MageWorx_MultiFees>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <frontend>
        <routers>
            <mageworx_multifees>
                <use>standard</use>
                <args>
                    <module>MageWorx_MultiFees</module>
                    <frontName>multifees</frontName>
                </args>
            </mageworx_multifees>
        </routers>

        <translate>
            <modules>
                <MageWorx_MultiFees>
                    <files>
                        <default>MageWorx_MultiFees.csv</default>
                    </files>
                </MageWorx_MultiFees>
            </modules>
        </translate>

        <layout>
            <updates>
                <mageworx_multifees>
                    <file>mageworx_multifees.xml</file>
                </mageworx_multifees>
            </updates>
        </layout>

        <events>
            <checkout_cart_save_before>
                <observers>
                    <mageworx_multifees_cart_save_before>
                        <class>mageworx_multifees/observer</class>
                        <method>cartSaveBefore</method>
                    </mageworx_multifees_cart_save_before>
                </observers>
            </checkout_cart_save_before>

            <core_block_abstract_to_html_after>
                <observers>
                    <mageworx_multifees_to_html_block_before>
                        <class>mageworx_multifees/observer</class>
                        <method>toHtmlBlockFrontBefore</method>
                    </mageworx_multifees_to_html_block_before>
                </observers>
            </core_block_abstract_to_html_after>

            <sales_quote_address_save_before>
                <observers>
                    <mageworx_multifees_address_save_before>
                        <class>mageworx_multifees/observer</class>
                        <method>addressSaveBefore</method>
                    </mageworx_multifees_address_save_before>
                </observers>
            </sales_quote_address_save_before>            
        </events>
    </frontend>

    <global>
        <models>
            <mageworx_multifees>
                <class>MageWorx_MultiFees_Model</class>
                <resourceModel>mageworx_multifees_resource</resourceModel>
            </mageworx_multifees>
            <mageworx_multifees_resource>
                <class>MageWorx_MultiFees_Model_Resource</class>
                <entities>
                    <fee>
                        <table>mageworx_multifees_fee</table>
                    </fee>
                    <store>
                        <table>mageworx_multifees_fee_store</table>
                    </store>
                    <language_fee>
                        <table>mageworx_multifees_fee_language</table>
                    </language_fee>
                    <option>
                        <table>mageworx_multifees_fee_option</table>
                    </option>
                    <language_option>
                        <table>mageworx_multifees_fee_option_language</table>
                    </language_option>
                </entities>
            </mageworx_multifees_resource>
            <tax>
                <rewrite>
                    <sales_pdf_tax>MageWorx_MultiFees_Model_Sales_Pdf_Tax</sales_pdf_tax>
                </rewrite>
            </tax>
        </models>
        <resources>
            <mageworx_multifees_setup>
                <setup>
                    <module>MageWorx_MultiFees</module>
                    <class>Mage_Sales_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mageworx_multifees_setup>
        </resources>

        <blocks>
            <mageworx_multifees>
                <class>MageWorx_MultiFees_Block</class>
            </mageworx_multifees>
            <adminhtml>
                <rewrite>
                    <sales_order_totals_tax>MageWorx_MultiFees_Block_Adminhtml_Sales_Order_Totals_Tax</sales_order_totals_tax>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <mageworx_multifees>
                <class>MageWorx_MultiFees_Helper</class>
            </mageworx_multifees>
        </helpers>
        <sales>
            <quote>
                <totals>
                    <mageworx_multifees>
                        <class>mageworx_multifees/sales_quote_total</class>
                        <after>subtotal,discount,tax,shipping</after>
                        <before>depositppr,grand_total</before>
                        <renderer>mageworx_multifees/checkout_total</renderer>
                        <admin_renderer>mageworx_multifees/adminhtml_sales_order_create_total</admin_renderer>
                    </mageworx_multifees>
                    <mageworx_multifees_tax>
                        <class>mageworx_multifees/sales_quote_tax</class>
                        <after>multifees</after>
                        <before>depositppr,grand_total</before>
                        <renderer>mageworx_multifees/checkout_total</renderer>
                        <admin_renderer>mageworx_multifees/adminhtml_sales_order_create_total</admin_renderer>
                    </mageworx_multifees_tax>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <mageworx_multifees>
                        <class>mageworx_multifees/sales_order_invoice_total</class>
                    </mageworx_multifees>
                </totals>
            </order_invoice> 
            <order_creditmemo>
                <totals>
                    <mageworx_multifees>
                        <class>mageworx_multifees/sales_order_creditmemo_total</class>
                    </mageworx_multifees>
                </totals>
            </order_creditmemo>
        </sales>
        <pdf>
            <totals>
                <mageworx_multifees>
                    <model>mageworx_multifees/sales_pdf_total</model>
                    <sort_order>450</sort_order>
                </mageworx_multifees>
            </totals>
        </pdf>
        <fieldsets>
            <sales_convert_quote_address>
                <multifees_amount>
                    <to_order>*</to_order>
                </multifees_amount>
                <base_multifees_amount>
                    <to_order>*</to_order>
                </base_multifees_amount>
                <multifees_tax_amount>
                    <to_order>*</to_order>
                </multifees_tax_amount>
                <base_multifees_tax_amount>
                    <to_order>*</to_order>
                </base_multifees_tax_amount>
                <details_multifees>
                    <to_order>*</to_order>
                </details_multifees>
            </sales_convert_quote_address>
            <sales_convert_order>
                <multifees_amount>
                    <to_invoice>*</to_invoice>
                    <to_cm>*</to_cm>
                </multifees_amount>
                <base_multifees_amount>
                    <to_invoice>*</to_invoice>
                    <to_cm>*</to_cm>
                </base_multifees_amount>
                <multifees_tax_amount>
                    <to_invoice>*</to_invoice>
                    <to_cm>*</to_cm>
                </multifees_tax_amount>
                <base_multifees_tax_amount>
                    <to_invoice>*</to_invoice>
                    <to_cm>*</to_cm>
                </base_multifees_tax_amount>
                <details_multifees>
                    <to_invoice>*</to_invoice>
                    <to_cm>*</to_cm>
                </details_multifees>
            </sales_convert_order>            
        </fieldsets>
        <events>
            <!--<core_block_abstract_to_html_after>
                <observers>
                    <mageworx_multifees_email>
                        <class>mageworx_multifees/observer</class>
                        <method>addDetailsToEmail</method>
                    </mageworx_multifees_email>
                </observers>
            </core_block_abstract_to_html_after>-->
            <sales_quote_collect_totals_after>
                <observers>
                    <mageworx_multifees_validate_quote_totals>
                        <class>mageworx_multifees/observer</class>
                        <method>validateQuoteTotals</method>
                    </mageworx_multifees_validate_quote_totals>
                </observers>
            </sales_quote_collect_totals_after>
            <sales_convert_order_to_quote>
                <observers>
                    <mageworx_multifees_edit_fees_in_backend>
                        <class>mageworx_multifees/observer</class>
                        <method>editFeesInBackend</method>
                    </mageworx_multifees_edit_fees_in_backend>
                </observers>
            </sales_convert_order_to_quote>
            <paypal_prepare_line_items>
                <observers>
                    <mageworx_multifees_paypal_cart>
                        <class>mageworx_multifees/observer</class>
                        <method>paypalCart</method>
                    </mageworx_multifees_paypal_cart>
                </observers>
            </paypal_prepare_line_items>
            <sales_order_place_after>
                <observers>
                    <mageworx_multifees_add_fees_data>
                        <class>mageworx_multifees/observer</class>
                        <method>addFeesData</method>
                    </mageworx_multifees_add_fees_data>
                </observers>
            </sales_order_place_after>
            <order_cancel_after>
                <observers>
                    <mageworx_multifees_recalculate_after_cancel_order>
                        <class>mageworx_multifees/observer</class>
                        <method>recalculateAfterCancelOrder</method>
                    </mageworx_multifees_recalculate_after_cancel_order>
                </observers>
            </order_cancel_after>
            <sales_order_invoice_save_after>
                <observers>
                    <mageworx_multifees_invoice_multifees>
                        <class>mageworx_multifees/observer</class>
                        <method>invoiceMultiFees</method>
                    </mageworx_multifees_invoice_multifees>
                </observers>
            </sales_order_invoice_save_after>
            <sales_order_creditmemo_save_after>
                <observers>
                    <mageworx_multifees_refund_multifees>
                        <class>mageworx_multifees/observer</class>
                        <method>refundMultiFees</method>
                    </mageworx_multifees_refund_multifees>
                </observers>
            </sales_order_creditmemo_save_after>
        </events>
    </global>
    
    <adminhtml>
        <events>
            <adminhtml_sales_order_create_process_data>
                <observers>
                    <mageworx_multifees_add_cart_fees_to_order>
                        <class>mageworx_multifees/observer</class>
                        <method>addCartFeesToOrder</method>
                    </mageworx_multifees_add_cart_fees_to_order>
                </observers>
            </adminhtml_sales_order_create_process_data>
            <core_block_abstract_to_html_after>
                <observers>
                    <mageworx_multifees_to_html_block_admin_before>
                        <class>mageworx_multifees/observer</class>
                        <method>toHtmlBlockAdminBefore</method>
                    </mageworx_multifees_to_html_block_admin_before>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
        <layout>
            <updates>
                <mageworx_multifees>
                    <file>mageworx_multifees.xml</file>
                </mageworx_multifees>
            </updates>
        </layout>
    </adminhtml>
    
    <default>
        <sales>
            <totals_sort>
                <mageworx_multifees>38</mageworx_multifees>
                <mageworx_multifees_tax>39</mageworx_multifees_tax> <!-- //tax_multifees -->
            </totals_sort>
        </sales>
        <mageworx_multifees>
            <main>
                <images_thumbnails_size>70</images_thumbnails_size>
                <position_in_cart>0</position_in_cart>
                <include_fee_in_shipping_price>0</include_fee_in_shipping_price>
                <tax_calculation_includes_tax>0</tax_calculation_includes_tax>
                <display_tax_in_block>1</display_tax_in_block>
                <display_tax_in_cart>1</display_tax_in_cart>
                <display_tax_in_sales>1</display_tax_in_sales>
                <enable_cart>0</enable_cart>
                <static_block_for_cart_page></static_block_for_cart_page>
                <enable_payment>0</enable_payment>
                <enable_shipping>0</enable_shipping>
            </main>
        </mageworx_multifees>
    </default>
</config>
