/** all devices and responsive browser windows **/
@media screen and (max-width: 800px) {

}


/* smaller screen dropoff *******/
@media only screen and (max-width: 550px) {
    .le-register-window, .le-login-window { width: 80%; left: 56%; }
    .le-login-window .input-fly input{ float: none; display: block; width: 100%;}
    .le-register-window .input-fly input{ float: none; display: block; width: 98%;}
    .le-register-window .litmore select{ float: none; width: 100%;}
    .le-register-window textarea{ float: none; width: 98%; }
    /*.le-register-window {position: absolute;}*/
    .le-register-window .input-box{ float: none; display: block; }
    .le-register-window label{ float: none; }
    .le-register-window .litcaptcha #captcha-image-box-form-validate-captcha{ float: left; width: 100%;}
    .le-login-window .input-fly label{ float: none; display: block;}
    #le-ajaxlogin-forgotpass-form input{ float: none; display: block; }
    .simple-register-close{margin: 8px 0 4px 300px}
}

/* iPhone Landscape ********/
@media only screen and (max-width: 480px) {
    .le-login-window { left: 260px; }
    .le-register-window, .le-login-window { width: 80%; }
    .le-register-window .input-fly input{ float: none; display: block; width: 90%; }
    .le-register-window .litmore select{ float: none; width: 92%; }
    .le-register-window textarea{ float: none; width: 90%; }
    .le-login-window .input-fly input{ float: none; display: block; width: 100%; }
    .le-login-window .input-fly label{ float: none; display: block;}
    #le-ajaxlogin-forgotpass-form input{ float: none; display: block;  width: 100%; }
    #le-ajaxlogin-forgotpass-form .captcha-image{ width: 100%; }
    .le-register-window .litcaptcha #captcha-image-box-form-validate-captcha{ float: left; width: 100%;}
    .le-ajaxlogin-loader{left: 55%; }
}

/* iPhone portrait *******/
@media only screen and (max-width: 320px) {
    /*.le-login-window { position: absolute; }*/
    .le-register-window, .le-login-window { width: 80%; }
    .le-register-window .input-fly input{ float: none; display: block;  width: 90%; }
    .le-register-window .litmore select{ float: none;  width: 100%;}
    .le-register-window textarea{ float: none;  width: 90%;}
    .le-login-window .input-fly input{ float: none; display: block;   width: 100%; }
    .le-login-window .input-fly label{ float: none; display: block;}
    #le-ajaxlogin-forgotpass-form input{ float: none; display: block;  width: 100%; }
    #le-ajaxlogin-forgotpass-form .captcha-image{ width: 100%; }
    .le-register-window .litcaptcha #captcha-image-box-form-validate-captcha{ float: left; width: 100%;}
    .le-ajaxlogin-loader{left: 66%; width: 120px;}
}