<?xml version="1.0"?>
<config>
    <modules>
        <Magestore_Affiliatepluspayperlead>
            <!--Changed By Adam 04/11/2014: accepted by Blanka-->
            <version>0.4.2</version>
        </Magestore_Affiliatepluspayperlead>
    </modules>
    <frontend>
        <routers>
            <affiliatepluspayperlead>
                <use>standard</use>
                <args>
                    <module>Magestore_Affiliatepluspayperlead</module>
                    <frontName>affiliatepluspayperlead</frontName>
                </args>
            </affiliatepluspayperlead>
        </routers>
        <layout>
            <updates>
                <affiliatepluspayperlead>
                    <file>affiliatepluspayperlead.xml</file>
                </affiliatepluspayperlead>
            </updates>
        </layout>
        <translate>
            <modules>
                <Magestore_Affiliatepluspayperlead>
                    <files>
                        <default>Magestore_Affiliatepluspayperlead.csv</default>
                    </files>
                </Magestore_Affiliatepluspayperlead>
            </modules>
        </translate>
        <events>
            <affiliateplus_get_list_program_welcome>
                <observers>
                    <affiliatepluspayperlead_add_program>
                        <type>singleton</type>
                        <class>affiliatepluspayperlead/observer</class>
                        <method>addProgramWelcome</method>
                    </affiliatepluspayperlead_add_program>
                </observers>
            </affiliateplus_get_list_program_welcome>
            <affiliateplus_controller_action_predispatch_add_cookie>
                <observers>
                    <affiliatepluspayperlead_predispatch>
                        <type>singleton</type>
                        <class>affiliatepluspayperlead/observer</class>
                        <method>controllerActionPredispatch</method>
                    </affiliatepluspayperlead_predispatch>
                </observers>
            </affiliateplus_controller_action_predispatch_add_cookie>
            <customer_save_before>
                <observers>
                    <affiliatepluspayperlead_customer_save_before>
                        <type>singleton</type>
                        <class>affiliatepluspayperlead/observer</class>
                        <method>affiliatepluspayperlead_customer_save_before</method>
                    </affiliatepluspayperlead_customer_save_before>
                </observers>
            </customer_save_before>
            <customer_save_after>
                <observers>
                    <affiliatepluspayperlead_customer_save_after>
                        <type>singleton</type>
                        <class>affiliatepluspayperlead/observer</class>
                        <method>affiliatepluspayperlead_customer_save_after</method>
                    </affiliatepluspayperlead_customer_save_after>
                </observers>
            </customer_save_after>
            <newsletter_subscriber_save_after>
                <observers>
                    <affiliatepluspayperlead_newsletter_subscriber_save_after>>
                        <type>singleton</type>
                        <class>affiliatepluspayperlead/observer</class>
                        <method>newsletter_subscriber_save_after</method>
                    </affiliatepluspayperlead_newsletter_subscriber_save_after>
                </observers>
            </newsletter_subscriber_save_after>
        </events>
    </frontend>
    <admin>
        <routers>
            <affiliatepluspayperleadadmin>
                <use>admin</use>
                <args>
                    <module>Magestore_Affiliatepluspayperlead</module>
                    <frontName>affiliatepluspayperleadadmin</frontName>
                </args>
            </affiliatepluspayperleadadmin>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <affiliatepluspayperlead>
                    <file>affiliatepluspayperlead.xml</file>
                </affiliatepluspayperlead>
            </updates>
        </layout>
        <translate>
            <modules>
                <Magestore_Affiliatepluspayperlead>
                    <files>
                        <default>Magestore_Affiliatepluspayperlead.csv</default>
                    </files>
                </Magestore_Affiliatepluspayperlead>
            </modules>
        </translate>
        <events>
            <affiliateplus_adminhtml_add_account_tab>
                <observers>
                    <affiliatepluspayperlead_add_account_tab>
                        <type>singleton</type>
                        <class>affiliatepluspayperlead/observer</class>
                        <method>affiliateplus_adminhtml_add_account_tab</method>
                    </affiliatepluspayperlead_add_account_tab>
                </observers>
            </affiliateplus_adminhtml_add_account_tab>
            <customer_delete_after>
                <observers>
                    <affiliatepluspayperlead_customer_delete_after>
                        <type>singleton</type>
                        <class>affiliatepluspayperlead/observer</class>
                        <method>customer_delete_after</method>
                    </affiliatepluspayperlead_customer_delete_after>
                </observers>
            </customer_delete_after>
            <newsletter_subscriber_delete_after>
                <observers>
                    <affiliatepluspayperlead_subscriber_delete_after>
                        <type>singleton</type>
                        <class>affiliatepluspayperlead/observer</class>
                        <method>newsletter_subscriber_delete_after</method>
                    </affiliatepluspayperlead_subscriber_delete_after>
                </observers>
            </newsletter_subscriber_delete_after>
            <affiliateplus_adminhtml_add_column_transaction_grid>
                <observers>
                    <affiliatepluspayperlead>
                        <type>singleton</type>
                        <class>affiliatepluspayperlead/observer</class>
                        <method>adminhtml_add_column_transaction_grid</method>
                    </affiliatepluspayperlead>
                </observers>
            </affiliateplus_adminhtml_add_column_transaction_grid>
            <affiliateplus_get_action_types>
                <observers>
                    <affiliatepluspayperlead>
                        <type>singleton</type>
                        <class>affiliatepluspayperlead/observer</class>
                        <method>affiliateplus_get_action_types</method>
                    </affiliatepluspayperlead>
                </observers>
            </affiliateplus_get_action_types>
        </events>
    </adminhtml>   
    <global>
        <models>
            <affiliatepluspayperlead>
                <class>Magestore_Affiliatepluspayperlead_Model</class>
                <resourceModel>affiliatepluspayperlead_mysql4</resourceModel>
            </affiliatepluspayperlead>
            <affiliatepluspayperlead_mysql4>
                <class>Magestore_Affiliatepluspayperlead_Model_Mysql4</class>
                <entities>
                    <lead>
                        <table>affiliateplus_lead</table>
                    </lead>
                </entities>
            </affiliatepluspayperlead_mysql4>
        </models>
        <resources>
            <affiliatepluspayperlead_setup>
                <setup>
                    <module>Magestore_Affiliatepluspayperlead</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </affiliatepluspayperlead_setup>
            <affiliatepluspayperlead_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </affiliatepluspayperlead_write>
            <affiliatepluspayperlead_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </affiliatepluspayperlead_read>
        </resources>
        <blocks>
            <affiliatepluspayperlead>
                <class>Magestore_Affiliatepluspayperlead_Block</class>
            </affiliatepluspayperlead>
        </blocks>
        <helpers>
            <affiliatepluspayperlead>
                <class>Magestore_Affiliatepluspayperlead_Helper</class>
            </affiliatepluspayperlead>
        </helpers>
    </global>
    <default>
        <affiliateplus>
            <payperlead>
                <enable>1</enable>
            </payperlead>
        </affiliateplus>
    </default>
</config>
