<config>
    <sections>
        <design>
            <groups>
                <header>
                    <fields>
                        <logo_src translate="label">
                            <label>Logo Image</label>
                            <frontend_type>image</frontend_type>
                            <comment>Allowed file types: jpg, jpeg, gif, png</comment>
                            <frontend_type>image</frontend_type>
                            <backend_model>codewix_logo/system_config_backend_logo</backend_model>
                            <base_url type="skin" scope_info="1">frontend/base/default</base_url>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </logo_src>
                    </fields>
                </header>
            </groups>
        </design>
    </sections>
</config>
